<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>InfluxDB Workbench</title>
    <script src="script/vue.js"></script>
</head>
<body>
<h3>InfluxDB</h3>
<script src="script/string.js"></script>
<script src="script/vue.js"></script>
<div id="influxdbConnector">
    <form>
        <label>url: </label><span>http://</span><input v-model="url" type="input">
        <label>username: </label><input v-model="username" type="input">
        <label>password: </label><input v-model="password" type="password">
        <input type="button" value="连接" v-on:click="connect">
        <input type="button" value="取消" v-on:click="clean">
    </form>
</div>
</div>
<script src="script/index.js"></script>
</body>
</html>